fastapi
uvicorn
chromadb
sentence-transformers
rank-bm25
pypdf
python-multipart
pydantic
pytest
httpx
numpy
ipython
pymupdf
groq
python-dotenv
langchain-core
langchain-community
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-groq